$icomoon-font-path: "../fonts" !default;

$icon-cart-succeed: "\e900";
$icon-cart-empty: "\e901";
$icon-dustbin: "\e902";
$icon-arrow-left: "\e903";
$icon-del: "\e904";
$icon-arrow-down: "\e905";
$icon-checkbox-checked: "\e906";
$icon-addr: "\e907";
$icon-all-orders: "\e908";
$icon-complete: "\e909";
$icon-goods: "\e90a";
$icon-paid: "\e90b";
$icon-checkbox-unchecked: "\e90c";
$icon-radio-checked: "\e90d";
$icon-life: "\e90e";
$icon-specialty: "\e90f";
$icon-superior-products: "\e910";
$icon-back: "\e911";
$icon-cart-active: "\e912";
$icon-cart: "\e913";
$icon-classify-active: "\e914";
$icon-classify: "\e915";
$icon-index-active: "\e916";
$icon-index: "\e917";
$icon-personal-active: "\e918";
$icon-personal: "\e919";
