@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  background-size: cover;
}

html {
  font-size: 14px;
  font-family: "Microsoft YaHei",微软雅黑;
}

/*320 */
/*html{font-size:11.91px;font-family:"Microsoft YaHei",微软雅黑} */
/*375*/
body {
  background-color: #EBEBEB;
}

/*@media screen and (min-width: 359px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 374px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 639px) {
  html {
    font-size: 23.89px;
  }
}

@media screen and (min-width: 749px) {
  html {
    font-size: 27.5px;
  }
}

@media screen and (min-width: 979px) {
  html {
    font-size: 36.29px;
  }
}

@media screen and (min-width: 1079px) {
  html {
    font-size: 40.32px;
  }
}


@media screen and (min-width: 1439px) {
  html {
    font-size: 53.76px;
  }
}*/
a,
button,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  font-size: 100%;
  outline: 0;
}

.head {
  width: 100%;
  height: 3.15rem;
  line-height: 3.15rem;
  font-size: 1.29rem;
  text-align: center;
  background-color: white;
}

.LINE {
  width: 100%;
  height: 1px;
  box-sizing: border-box;
  background-color: #bfbfbf;
  -webkit-transform: scale(0, 0.5);
      -ms-transform: scale(0, 0.5);
          transform: scale(0, 0.5);
}

.LINE_ONE {
  width: 100%;
  height: .4px;
  opacity: .5;
  background-color: #bfbfbf;
  /*transform: scale(0,0.45);*/
}

.LINE_TWO {
  width: 80%;
  margin: 0 auto;
  height: .4px;
  opacity: .5;
  background-color: #bfbfbf;
}

.headBackCover {
  position: absolute;
  left: .5rem;
  top: 0rem;
  height: 3rem;
  width: 2rem;
}

.headBack {
  /*position: absolute;
	left: 1rem;
	top: 1.1rem;*/
  height: 1rem;
  width: 0.9rem;
}

.loading {
  position: fixed;
  width: 60%;
  height: .3rem;
  background-color: red;
  -webkit-animation: loading 1s ease infinite;
          animation: loading 1s ease infinite;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  to {
    -webkit-transform: translateX(170%);
            transform: translateX(170%);
  }
}

@keyframes loading {
  from {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  to {
    -webkit-transform: translateX(170%);
            transform: translateX(170%);
  }
}
