html {
  height: 100%;
  -ms-touch-action: none;
  font-size: 14px;
}

@media screen and (min-width: 375px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 23.76px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 27.5px;
  }
}

@media screen and (min-width: 980px) {
  html {
    font-size: 36.29px;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  line-height: 1.4;
  color: #000;
  background: #fff;
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

a,
button,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  font-size: 100%;
  outline: 0;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

input:focus::-webkit-input-placeholder {
  color: #eee;
}

input[type=radio]::-ms-check,
input[type=checkbox]::-ms-check,
input[type=text]::-ms-clear,
input[type=tel]::-ms-clear,
input[type=number]::-ms-clear,
input::-webkit-input-speech-button,
select::-ms-expand {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hide {
  display: none !important;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: auto;
  margin-top: -40px;
  margin-left: -10px;
  z-index: 1000;
  opacity: 0.5;
}

.loading img {
  width: 100%;
  height: auto;
  display: block;
}

@-webkit-keyframes turnAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turnAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
