body {
  background: #EBEBEB;
}

header {
  background-color: #fff;
  height: 3.4rem;
  line-height: 3.4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.29rem;
  text-align: center;
  z-index: 1000;
  color: #2B333B;
  border-bottom: 1px solid #BFBFBF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  text-align: center;
  font-size: 1.29rem;
  color: #2B333B;
}

.tab-head {
  margin-top: 3.4rem;
  height: 2.86rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8F8F8;
}

.tab-head .tab_item {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.tab-head .tab_item button {
  color: #5B5B5B;
  font-size: 1rem;
  border: 0;
  background-color: inherit;
}

.tab-head .tab_item span {
  display: block;
  width: 4rem;
  height: 0.14rem;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -2rem;
}

.tab-head .tab_item.active button {
  color: #FB4747;
}

.tab-head .tab_item.active span {
  background: #FB4747;
}

.tab-cont {
  width: 100%;
  padding-bottom: 5rem;
}

.tab-cont .banner_contain {
  height: 11.64rem;
  width: 100%;
}

.tab-cont .banner {
  height: 11.64rem;
}

.tab-cont .banner .pic-view {
  width: 100% !important;
}

.tab-cont .pro_list {
  border-top: 1px solid #BFBFBF;
  background: #fff;
}

.tab-cont .pro_list:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  clear: both;
}

.tab-cont .pro_list li {
  float: left;
  width: 50%;
  height: 13.4rem;
  box-sizing: border-box;
  padding: 0.71rem 0;
  border-bottom: 1px solid #BFBFBF;
  text-align: center;
}

.tab-cont .pro_list li:nth-child(odd) {
  border-right: 1px solid #BFBFBF;
}

.tab-cont .pro_list li:last-child {
  border-bottom: 0;
}

.tab-cont .pro_list li:nth-last-child(2):not(:nth-child(even)) {
  border-bottom: 0;
}

.tab-cont .pro_list li .pro_view {
  width: 100%;
  padding-left: 0.71rem;
  padding-right: 0.71rem;
  height: 7.54rem;
  overflow: hidden;
}

.tab-cont .pro_list li .pro_view img {
  max-width: 100%;
  display: block;
  height: auto;
  border: 0;
}

.tab-cont .pro_list li .pro_name {
  font-size: 0.93rem;
  color: #001500;
  padding: 0 1rem;
  height: 1.29rem;
  margin-top: 0.5rem;
  line-height: 1.29rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-cont .pro_list li .pro_price {
  font-size: 1rem;
  color: #FB4747;
  padding: 0 1rem;
  height: 1.43rem;
  line-height: 1.43rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-cont .pro_list li .pro_discount {
  font-size: 0.93rem;
  color: #BFBFBF;
  padding: 0 1rem;
  height: 1.29rem;
  line-height: 1.29rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-cont .more_pro {
  border-top: 1px solid #BFBFBF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-cont .more_pro button {
  background-color: #fff;
  border: 0;
  width: 100%;
  height: 2.86rem;
}

.tab-cont .more_pro button span {
  font-size: 1rem;
  line-height: 1rem;
  color: #BFBFBF;
  display: inline-block;
  vertical-align: middle;
}

.tab-cont .more_pro button .icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/sprite.png");
  background-position: -4rem -8rem;
  width: 0.85714rem;
  height: 0.85714rem;
  background-size: 9.57143rem 9.57143rem;
}
