body {
  background: #EBEBEB;
  margin: 0 auto;
  position: relative;
}

.page_container {
  padding-bottom: 2.56rem;
}

.banner_contain {
  height: 8.96rem;
}

.banner_contain .banner {
  height: 100%;
}

.marquee {
  overflow: hidden;
  height: 1.70667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-bottom: 1px solid #BFBFBF;
}

.marquee .l {
  width: 3.41333rem;
  height: 0.85333rem;
  border-right: 0.04267rem solid #BFBFBF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.42667rem;
}

.marquee .l .img_con {
  width: 2.38933rem;
  height: auto;
}

.marquee .l .img_con img {
  width: 100%;
  height: 100%;
}

.marquee .r {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #2B333B;
}

.marquee .r marquee {
  height: 0.85333rem;
  line-height: 0.85333rem;
  display: block;
  width: 100%;
  font-size: 0.59733rem;
}


.product .pro_list:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  clear: both;
}

.product .pro_list li {
  float: left;
  width: 50%;
  padding: 0.71rem 0;
  height: 13.4rem;
  border-bottom: 1px solid #BFBFBF;
  text-align: center;
}

.product .pro_list li:nth-child(odd) {
  border-right: 1px solid #BFBFBF;
}

.product .pro_list li:last-child {
  border-bottom: 0;
}

.product .pro_list li:nth-last-child(2):not(:nth-child(even)) {
  border-bottom: 0;
}

.product .pro_list li .pro_view {
  width: 100%;
  padding-left: 0.71rem;
  padding-right: 0.71rem;
  height: 7.54rem;
  overflow: hidden;
}

.product .pro_list li .pro_view img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.product .pro_list li .pro_name {
  font-size: 0.93rem;
  color: #001500;
  padding: 0 1rem;
  margin-top: 0.5rem;
  height: 1.29rem;
  line-height: 1.29rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product .pro_list li .pro_price {
  font-size: 1rem;
  color: #FB4747;
  padding: 0 1rem;
  height: 1.43rem;
  line-height: 1.43rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product .pro_list li .pro_discount {
  font-size: 0.93rem;
  color: #BFBFBF;
  padding: 0 1rem;
  height: 1.29rem;
  line-height: 1.29rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product .more_pro {
  border-top: 1px solid #BFBFBF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.product .more_pro button {
  background-color: #fff;
  border: 0;
  width: 100%;
  height: 2.86rem;
}

.product .more_pro button span {
  font-size: 1rem;
  line-height: 1rem;
  color: #BFBFBF;
  display: inline-block;
  vertical-align: middle;
}

.product .more_pro button .icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/sprite.png");
  background-position: -4rem -8rem;
  width: 0.85714rem;
  height: 0.85714rem;
  background-size: 9.57143rem 9.57143rem;
}
