/*
 *
 * photoSlider.v1.0
 * create by Gavin
 * 2015-3-26
 * http://www.j--d.com/photoSlider/
 *
 * */
html,
body,
div,
ul,
li,
a,
img {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  overflow: hidden;
  background-color: #ddd;
  position: relative;
}

.banner .pic-view {
  height: 100%;
  display: -webkit-box;
  display: box;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.banner .pic-view.show {
  opacity: 1;
}

.banner .pic-view li {
  position: absolute;
  height: 100%;
  display: box;
  display: -webkit-box;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  overflow: hidden;
}

.banner .pic-view li a {
  display: block;
  vertical-align: middle;
}

.banner .pic-view li a img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.pagination {
  width: 100%;
  left: 0;
  bottom: 0.34133rem;
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 10;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: right;
  padding: 0 1rem;
}

.pagination span {
  width: 0.34133rem;
  height: 0.34133rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  opacity: .3;
  margin: 0 3px;
}

.pagination span.active {
  opacity: 1;
  background: #fff;
}

.spinner {
  width: 100%;
  height: 100%;
  background: #111;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: box;
  display: -webkit-box;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  overflow: hidden;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: #007AFF;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
