body {
  background: #F8F8F8;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #BFBFBF;
  z-index: 1000;
}

header .inner {
  height: 2.048rem;
  width: 100%;
  padding-left: 0.59733rem;
  padding-right: 0.59733rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner .l, header .inner .r {
  width: 2.56rem;
}

header .inner .l button, header .inner .r button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.49333rem;
  height: 1.49333rem;
  border: 0;
  background-color: inherit;
}

header .inner .l button i, header .inner .r button i {
  display: block;
  background-image: url("../img/sprite.png");

}

header .inner .m {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header .inner .m h2 {
  text-align: center;
  font-size: 0.768rem;
  color: #2B333B;
}

.banner_contain {
  height: 8.96rem;
  margin-top: 2.048rem;
}

.banner_contain .banner {
  height: 100%;
}

.base_info {
  background: #fff;
  padding: 0.64rem 0.46933rem 0.59733rem;
}

.base_info .tit {
  font-size: 0.768rem;
  color: #2B333B;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.base_info .price {
  margin-top: 0.29867rem;
}

.base_info .price span {
  display: inline-block;
  vertical-align: middle;
}

.base_info .price span:first-child {
  color: #FB4747;
  font-size: 0.68267rem;
}

.base_info .price span:nth-child(2) {
  color: #FB4747;
  font-size: 0.68267rem;
  margin-right: 0.17067rem;
}

.base_info .price span:nth-child(3) {
  border: 1px solid #D7D7D7;
  border-radius: 0.17067rem;
  font-size: 0.512rem;
  padding: 0.08533rem 0.17067rem;
  color: #BFBFBF;
}

.base_info .tip {
  margin-top: 0.256rem;
  font-size: 0.512rem;
  color: #848689;
}

.base_info .tip span:nth-child(3) {
  margin-right: 0.29867rem;
}

.pro_details {
  margin-top: 0.42667rem;
  background-color: #fff;
  padding: 0.59733rem;
  padding-top: 0;
  padding-bottom: 2.56rem;
}

.pro_details .tit {
  color: #848689;
  font-size: 0.68267rem;
  padding: 0.42667rem 0;
}

.pro_details .content * {
  font-size: 0.59733rem !important;
  color: #2B333B;
  line-height: normal !important;
}

.pro_details .content p, .pro_details .content div {
  color: #444;
  display: block !important;
}

.pro_details .content img {
  max-width: 100% !important;
  height: auto;
  display: block;
}

.invalid {
  height: 2.13333rem;
  line-height: 2.13333rem;
  text-align: center;
  background: #848689;
  font-size: 0.68267rem;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fixed_btn_group {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.13333rem;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed_btn_group .go_index {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eee;
  padding-top: 0.17067rem;
}

.fixed_btn_group .go_index button {
  border: 0;
  background-color: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fixed_btn_group .go_index button .icon-home {
  display: block;
  background-image: url("../img/sprite.png");

}

.fixed_btn_group .go_index button span {
  display: block;
  font-size: 0.512rem;
  text-align: center;
  color: #848689;
}

.fixed_btn_group .cart {
  width: 20%;
  height: 100%;
  background: #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.17067rem;
}

.fixed_btn_group .cart button {
  background-color: inherit;
  position: relative;
  border: 0;
}

.fixed_btn_group .cart button .icon-cart {
  display: block;
  margin: 0 auto;
  background-image: url("../img/sprite.png");

}

.fixed_btn_group .cart button .txt {
  display: block;
  font-size: 0.512rem;
  text-align: center;
  color: #848689;
}

.fixed_btn_group .cart button .badge {
  position: absolute;
  top: -0.17067rem;
  right: -0.17067rem;
  min-width: 0.768rem;
  height: 0.768rem;
  border-radius: 0.768rem;
  background-color: #F43530;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.512rem;
  padding: 0 0.128rem;
}

.fixed_btn_group .add_cart {
  width: 33%;
  height: 100%;
  background: #FD9E24;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed_btn_group .add_cart button {
  background-color: inherit;
}

.fixed_btn_group .buy_now {
  width: 33%;
  height: 100%;
  background: #FB4747;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed_btn_group .add_cart button, .fixed_btn_group .buy_now button {
  display: block;
  border: 0;
  color: #fff;
  font-size: 0.68267rem;
  background-color: inherit;
}

.popup_buy {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

.popup_buy .shade {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup_buy .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.popup_buy .content .close {
  position: absolute;
  top: 0.59733rem;
  right: 0.59733rem;
  border: 0;
  background-color: inherit;
  background-image: url("../img/sprite.png");

}

.popup_buy .content .con {
  height: 8.36267rem;
  padding: 0 0.59733rem;
}

.popup_buy .content .con .t {
  height: 3.92533rem;
  border-bottom: 1px solid #BFBFBF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_buy .content .con .t .l {
  width: 2.38933rem;
  height: 2.38933rem;
  margin-right: 0.85333rem;
  background-color: #eee;
}

.popup_buy .content .con .t .l img {
  max-width: 100%;
  max-height: 100%;
}

.popup_buy .content .con .t .r {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.popup_buy .content .con .t .r .tit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 1.19467rem;
  font-size: 0.68267rem;
  color: #5B5B5B;
}

.popup_buy .content .con .t .r .price {
  color: #FB4747;
  font-size: 0.59733rem;
}

.popup_buy .content .con .b {
  padding-top: 0.59733rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_buy .content .con .b .l {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #5B5B5B;
  font-size: 0.64rem;
}

.popup_buy .content .con .b .r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup_buy .content .con .b .r button {
  width: 1.19467rem;
  height: 1.19467rem;
  background-color: inherit;
  border-color: #777;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-weight: bold;
  color: #2b333b;
  font-size: 0.68267rem;
}

.popup_buy .content .con .b .r button.minus {
  border-radius: 0.128rem 0 0 0.128rem;
}

.popup_buy .content .con .b .r button.plus {
  border-radius: 0 0.128rem 0.128rem 0;
  padding-bottom: 0.08533rem;
}

.popup_buy .content .con .b .r button:disabled {
  border-color: #BFBFBF;
  color: #999;
}

.popup_buy .content .con .b .r span {
  min-width: 1.19467rem;
  height: 1.19467rem;
  padding: 0 0.29867rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #BFBFBF;
  text-align: center;
  font-size: 0.68267rem;
  color: #2b333b;
  border-left: 0;
  border-right: 0;
}

.popup_buy .content .btn {
  height: 2.13333rem;
}

.popup_buy .content .btn button {
  height: 100%;
  width: 100%;
  border: 0;
  color: #fff;
  font-size: 0.68267rem;
  background-color: #FB4747;
}
