.tapbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.57rem;
  background-color: #F9F9F9 !important;
  opacity: 1 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  min-width: 320px;
}

.tapbar:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background-color: #ACACAC;
  width: 100%;
  -webkit-transform: scale(1, 0.5);
      -ms-transform: scale(1, 0.5);
          transform: scale(1, 0.5);
}

.tapbar li:first-child {
  width: 12%;
}

.tapbar li {
  width: 22%;
  padding-top: 0.15rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tapbar li button {
  border: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: inherit;
  position: relative;
}

.tapbar li button .badge {
  position: absolute;
  top: -0.4rem;
  right: -0.5rem;
  min-width: 1.26rem;
  height: 1.26rem;
  border-radius: 1.26rem;
  background-color: #F43530;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.86rem;
  border: 1px solid #fff;
}

.tapbar li button i {
  display: block;
  margin: 0 auto;
}

.tapbar li button .back {
  background-image: url("../img/sprite.png");
  background-position: -8rem 0rem;
  width: 1.57143rem;
  height: 1.57143rem;
  background-size: 9.57143rem 9.57143rem;
}

.tapbar li button .home {
  background-image: url("../img/sprite.png");
  background-position: -2.85714rem -2.85714rem;
  width: 1.57143rem;
  height: 1.57143rem;
  background-size: 9.57143rem 9.57143rem;
}

.tapbar li button .category {
  background-image: url("../img/sprite.png");
  background-position: -5.71429rem -2.28571rem;
  width: 1.57143rem;
  height: 1.57143rem;
  background-size: 9.57143rem 9.57143rem;
}

.tapbar li button .cart {
  background-image: url("../img/sprite.png");
  background-position: -5.71429rem 0rem;
  width: 1.57143rem;
  height: 1.57143rem;
  background-size: 9.57143rem 9.57143rem;
}

.tapbar li button .my {
  background-image: url("../img/sprite.png");
  background-position: -2.28571rem -5.71429rem;
  width: 1.57143rem;
  height: 1.57143rem;
  background-size: 9.57143rem 9.57143rem;
}

.tapbar li button .txt {
  display: block;
  width: 100%;
  font-size: 0.71rem;
  color: #848689;
  margin-top: 0.1rem;
}

.tapbar li button.active .home {
  background-image: url("../img/sprite.png");
  background-position: 0rem -8rem;
  width: 1.28571rem;
  height: 1.57143rem;
  background-size: 9.57143rem 9.57143rem;
}

.tapbar li button.active .category {
  background-image: url("../img/sprite.png");
  background-position: -8rem -2.28571rem;
  width: 1.5rem;
  height: 1.57143rem;
  background-size: 9.57143rem 9.57143rem;
}

.tapbar li button.active .cart {
  background-image: url("../img/sprite.png");
  background-position: 0rem -5.71429rem;
  width: 1.57143rem;
  height: 1.57143rem;
  background-size: 9.57143rem 9.57143rem;
}

.tapbar li button.active .my {
  background-image: url("../img/sprite.png");
  background-position: -4.57143rem -5.71429rem;
  width: 1.57143rem;
  height: 1.57143rem;
  background-size: 9.57143rem 9.57143rem;
}

.tapbar li button.active .txt {
  color: #FB4747;
}
