.tapbar {
  position: fixed;
  border-top: 1px solid #ACACAC;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.13333rem;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  min-width: 16rem;
}

.tapbar li:first-child {
  width: 12%;
}

.tapbar li {
  width: 22%;
  padding-top: 0.08533rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tapbar li button {
  border: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: inherit;
}

.tapbar li button i {
  display: block;
  margin: 0 auto;
}

.tapbar li button .back {
  background-image: url("../img/sprite.png");
  background-position: -4.77867rem 0rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-size: 5.71733rem 5.71733rem;
}

.tapbar li button .home {
  background-image: url("../img/sprite.png");
  background-position: -1.70667rem -1.70667rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-size: 5.71733rem 5.71733rem;
}

.tapbar li button .category {
  background-image: url("../img/sprite.png");
  background-position: -3.41333rem -1.36533rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-size: 5.71733rem 5.71733rem;
}

.tapbar li button .cart {
  background-image: url("../img/sprite.png");
  background-position: -3.41333rem 0rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-size: 5.71733rem 5.71733rem;
}

.tapbar li button .my {
  background-image: url("../img/sprite.png");
  background-position: -1.36533rem -3.41333rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-size: 5.71733rem 5.71733rem;
}

.tapbar li button .txt {
  display: block;
  width: 100%;
  font-size: 0.42667rem;
  color: #848689;
  margin-top: 0.08533rem;
}

.tapbar li button.active .home {
  background-image: url("../img/sprite.png");
  background-position: 0rem -4.77867rem;
  width: 0.768rem;
  height: 0.93867rem;
  background-size: 5.71733rem 5.71733rem;
}

.tapbar li button.active .category {
  background-image: url("../img/sprite.png");
  background-position: -4.77867rem -1.36533rem;
  width: 0.896rem;
  height: 0.93867rem;
  background-size: 5.71733rem 5.71733rem;
}

.tapbar li button.active .cart {
  background-image: url("../img/sprite.png");
  background-position: 0rem -3.41333rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-size: 5.71733rem 5.71733rem;
}

.tapbar li button.active .my {
  background-image: url("../img/sprite.png");
  background-position: -2.73067rem -3.41333rem;
  width: 0.93867rem;
  height: 0.93867rem;
  background-size: 5.71733rem 5.71733rem;
}

.tapbar li button.active .txt {
  color: #FB4747;
}
