<!DOCTYPE html>
<html ng-app="category">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no,email=no,adress=no"/>
        <title></title>
        <link rel="stylesheet" type="text/css" href="./css/base_o.css"/>
        <link rel="stylesheet" type="text/css" href="./css/tapbar.css"/>
        <link rel="stylesheet" type="text/css" href="./css/pro_more.css"/>
        <link rel="stylesheet" type="text/css" href="./css/pro_list.css"/>
        <link rel="stylesheet" type="text/css" href="./css/photoSlider.css"/>
        <link rel="stylesheet" type="text/css" href="./css/category.css"/>
        <script type="text/javascript" src="./js/hotcss.js"></script>
        <script type="text/javascript" src="./js/angular.min.js"></script>
        <script type="text/javascript" src="./js/angular-router.min.js"></script>
    </head>
    <body ng-cloak>
        <header>
            <h1>商城</h1>
        </header>
        <ul class="tapbar" ng-controller="nav">
            <li>
                <button type="button" tap="back()" name="button">
                    <i class="back"></i>
                </button>
            </li>
            <li>
                <button type="button" name="button" tap="linkTo('./index.html',token)">
                    <i class="home"></i>
                    <span class="txt">首页</span>
                </button>
            </li>
            <li>
                <button class="active" type="button" name="button">
                    <i class="category"></i>
                    <span class="txt">分类</span>
                </button>
            </li>
            <li>
                <button type="button" name="button" tap="linkTo('./my_cart.html')">
                    <i class="cart"></i>
                    <span class="txt">购物车</span>
                    <span ng-show="cartAll.length" class="badge" ng-bind="cartAll.length"></span>
                </button>
            </li>
            <li>
                <button type="button" name="button" tap="linkTo('./my.html')">
                    <i class="my"></i>
                    <span class="txt">我的商城</span>
                </button>
            </li>
        </ul>
        <ul class="tab-head">
            <li class="tab_item" ng-class="{'active':currentPath == '/dftc'}">
                <a href="#dftc" ng-click="type = 1" type="button" name="button">联联地方特产</a>
                <span></span>
            </li>
            <li class="tab_item" ng-class="{'active':currentPath == '/chg'}">
                <a href="#chg" ng-click="type = 2" type="button" name="button">联联吃货馆</a>
                <span></span>
            </li>
            <li class="tab_item" ng-class="{'active':currentPath == '/llyp'}">
                <a href="#llyp" ng-click="type = 3" type="button" name="button">联联优品</a>
                <span></span>
            </li>
        </ul>
        <ng-view></ng-view>
        <script type="text/ng-template" id="list.html">
            <div class="tab-cont" ng-show="banner">
                <div class="banner_contain">
                    <app-banner banner-arr="banner" token="{{token}}"></app-banner>
                </div>
                <ul class="pro_list">
                    <li ng-repeat="item in list" tap="linkTo('./pro_details.html',token,item.id)">
                        <div class="pro_view">
                            <img ng-src="{{item.previewUrl}}?x-oss-process=image/resize,m_fill,h_{{proViewH}},w_{{proViewW}}" alt="">
                        </div>
                        <p class="pro_name" ng-bind="item.title"></p>
                        <p class="pro_price" ng-bind="item.price | currency : '￥'"></p>
                        <p class="pro_discount" ng-bind="item.deduction"></p>
                    </li>

                </ul>
                <div class="more_pro" ng-hide="rowCount == 0">
                    <button type="button" name="button" ng-click="next()">
                        <span>更多</span>
                        <i class="icon"></i>
                    </button>
                </div>
            </div>
        </script>
    </body>
    <script type="text/javascript" src="./js/photoSlider.js"></script>
    <script type="text/javascript" src="./js/category.js"></script>
</html>
