<!DOCTYPE html>
<html ng-app="index">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no,email=no,adress=no"/>
        <title></title>
        <link rel="stylesheet" type="text/css" href="./css/base_o.css"/>
        <link rel="stylesheet" type="text/css" href="./css/style.css"/>
        <link rel="stylesheet" type="text/css" href="./css/tabbar.css"/>
        <link rel="stylesheet" type="text/css" href="./css/pro_more.css"/>
        <link rel="stylesheet" type="text/css" href="./css/pro_list.css"/>
        <link rel="stylesheet" type="text/css" href="./css/photoSlider.css"/>
        <link rel="stylesheet" type="text/css" href="./css/index.css"/>
        <script type="text/javascript" src="./js/hotcss.js"></script>

    </head>
    <body ng-controller="index">
        <ul class="tabbar">
            <li>
                <button type="button" tap="back()" name="button">
                    <i class="icon icon-back"></i>
                </button>
            </li>
            <li>
                <button class="active" type="button" name="button">
                    <i class="icon icon-index-active"></i>
                    <span class="txt">首页</span>
                </button>
            </li>
            <li>
                <button type="button" name="button" tap="linkTo('./category.html')">
                    <i class="icon icon-classify"></i>
                    <span class="txt">分类</span>
                </button>
            </li>
            <li>
                <button type="button" name="button" tap="linkTo('./my_cart.html')">
                    <i class="icon icon-cart"></i>
                    <span class="txt">购物车</span>
                    <span ng-show="cartAll.length" class="badge" ng-bind="cartAll.length"></span>
                </button>
            </li>
            <li>
                <button type="button" name="button" tap="linkTo('./my.html')">
                    <i class="icon icon-personal"></i>
                    <span class="txt">我的商城</span>
                </button>
            </li>
        </ul>
        <div class="banner_contain">
            <app-banner banner-arr="banner" token="{{token}}"></app-banner>
        </div>
        <div class="page_container" ng-cloak ng-show="banner">
            <div class="marquee">
                <div class="l">
                    <div class="img_con">
                        <img src="./img/sczb.png" alt="">
                    </div>
                </div>
                <div class="r">
                    <marquee behavior="scroll" onTouchStart="this.stop()" onTouchEnd="this.start()" scrollamount="2" width="800" scrolldelay="100" direction="up">
                        <p ng-repeat="item in marquee" ng-bind="item.title" ng-click="linkTo('/pro_details.html',token,item.id)"></p>
                    </marquee>
                </div>
            </div>
            <div class="category_contain">
                <ul class="category">
                    <li>
                        <a ng-click="linkTo('./category.html#/dftc')">
                            <i class="icon icon-specialty"></i>
                            <p>联联地方特产</p>
                        </a>
                    </li>
                    <li>
                        <a ng-click="linkTo('./category.html#/chg')">
                            <i class="icon icon-life"></i>
                            <p>联联吃货馆</p>
                        </a>
                    </li>
                    <li>
                        <a ng-click="linkTo('./category.html#/llyp')">
                            <i class="icon icon-index-active"></i>
                            <p>联联优品</p>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 新品推荐 -->
            <div class="product">
                <h2 class="pro_tit">新品推荐</h2>
                <ul class="pro_list">
                    <li ng-repeat="item in newProduct" tap="linkTo('./pro_details.html',token,item.id)" ng-if="$index<4 || newProductShow">
                        <div class="pro_view">
                            <img ng-src="{{item.previewUrl}}?x-oss-process=image/resize,m_fill,h_{{proViewH}},w_{{proViewW}}" alt="">
                        </div>
                        <p class="pro_name" ng-bind="item.title"></p>
                        <p class="pro_price" ng-bind="item.price | currency : '￥'"></p>
                        <p class="pro_discount" ng-bind="item.deduction"></p>
                    </li>
                </ul>
                <div class="more_pro" ng-hide="newProductShow">
                    <button type="button" name="button" ng-click="newProductShow = true">
                        <span>更多</span>
                        <i class="icon icon-arrow-down"></i>
                    </button>
                </div>
            </div>

            <!-- 联联地方特产 -->
            <div class="product">
                <h2 class="pro_tit">联联地方特产</h2>
                <ul class="pro_list">
                    <li ng-repeat="item in lltc" tap="linkTo('./pro_details.html',token,item.id)" ng-if="$index<4 || lltcShow">
                        <div class="pro_view">
                            <img ng-src="{{item.previewUrl}}?x-oss-process=image/resize,m_fill,h_{{proViewH}},w_{{proViewW}}" alt="">
                        </div>
                        <p class="pro_name" ng-bind="item.title"></p>
                        <p class="pro_price" ng-bind="item.price | currency : '￥'"></p>
                        <p class="pro_discount" ng-bind="item.deduction"></p>
                    </li>
                </ul>
                <div class="more_pro" ng-hide="lltcShow">
                    <button type="button" name="button" ng-click="lltcShow = true">
                        <span>更多</span>
                        <i class="icon icon-arrow-down"></i>
                    </button>
                </div>
            </div>

            <!-- 联联吃货馆 -->
            <div class="product">
                <h2 class="pro_tit">联联吃货馆</h2>
                <ul class="pro_list">
                    <li ng-repeat="item in llchg" tap="linkTo('./pro_details.html',token,item.id)" ng-if="$index<4 || llchgShow">
                        <div class="pro_view">
                            <img ng-src="{{item.previewUrl}}?x-oss-process=image/resize,m_fill,h_{{proViewH}},w_{{proViewW}}" alt="">
                        </div>
                        <p class="pro_name" ng-bind="item.title"></p>
                        <p class="pro_price" ng-bind="item.price | currency : '￥'"></p>
                        <p class="pro_discount" ng-bind="item.deduction"></p>
                    </li>
                </ul>
                <div class="more_pro" ng-hide="llchgShow">
                    <button type="button" name="button" ng-click="llchgShow = true">
                        <span>更多</span>
                        <i class="icon icon-arrow-down"></i>
                    </button>
                </div>
            </div>

            <!-- 联联优品 -->
            <div class="product">
                <h2 class="pro_tit">联联优品</h2>
                <ul class="pro_list">
                    <li ng-repeat="item in llyp" tap="linkTo('./pro_details.html',token,item.id)" ng-if="$index<4 || llypShow">
                        <div class="pro_view">
                            <img ng-src="{{item.previewUrl}}?x-oss-process=image/resize,m_fill,h_{{proViewH}},w_{{proViewW}}" alt="">
                        </div>
                        <p class="pro_name" ng-bind="item.title"></p>
                        <p class="pro_price" ng-bind="item.price | currency : '￥'"></p>
                        <p class="pro_discount" ng-bind="item.deduction"></p>
                    </li>
                </ul>
                <div class="more_pro" ng-hide="llypShow">
                    <button type="button" name="button" ng-click="llypShow = true">
                        <span>更多</span>
                        <i class="icon icon-arrow-down"></i>
                    </button>
                </div>
            </div>
            <div ng-if="iphone" class="statement">
                所有奖品和活动均与苹果公司无关
            </div>
        </div>
    </body>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/photoSlider.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
</html>
