@import "./helper/_sprite.scss";
@import "./helper/_mixin.scss";
@import "./helper/px2rem.scss";
body{
    background: #F8F8F8;
}
.item_cover {
    width: 100%;
    height: px2rem(50);
    font-size:px2rem(14);
    background-color:white;
    line-height:px2rem(50);
    .item_line {

        width:88%;
        background-color:#bfbfbf;
        margin:0 auto;
        height:1px;
        opacity:0.5;
    }
    button {
        background-color:rgba(0,0,0,0);
        width:px2rem(48);
        height:px2rem(20);
        color:#fb4747;
        border:1px solid #fb4747;
        font-size:px2rem(12);
        float:left;
        margin:px2rem(15) px2rem(10) 0 px2rem(22);
        border-radius:4px;

    }
}





header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #BFBFBF;
    z-index: 1000;
    .inner{
        height: px2rem(48);
        width: 100%;
        padding-left: px2rem(14);
        padding-right: px2rem(14);
        display: flex;
        align-items: center;
        .l,.r{
            width: px2rem(60);
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: px2rem(35);
                height: px2rem(35);
                border: 0;
                background-color: inherit;
                i{
                    display: block;
                    @include sprite3($icon-back2);
                }
            }
        }
        .m{
            flex-grow: 1;
            h2{
                text-align: center;
                font-size: px2rem(18);
                color: #2B333B;
            }
        }
    }
}
.banner_contain{
    height: px2rem(210);
    margin-top: px2rem(48);
    .banner{
        height: 100%;
    }
}
.base_info{
    background: #fff;
    padding: px2rem(15) px2rem(11) px2rem(14);
    .tit{
        font-size: px2rem(18);
        color: #2B333B;
        font-weight: bold;
        @include otw();
    }
    .price{
        margin-top: px2rem(7);
        span{
            display: inline-block;
            vertical-align: middle;
        }
        span:first-child{
            color: #FB4747;
            font-size: px2rem(16);
        }
        span:nth-child(2){
            color: #FB4747;
            font-size: px2rem(16);
            margin-right: px2rem(4);
        }
        span:nth-child(3){
            border: 1px solid #D7D7D7;
            border-radius: px2rem(4);
            font-size: px2rem(12);
            padding: px2rem(2) px2rem(4);
            color: #BFBFBF;
        }
    }
    .tip{
        margin-top: px2rem(6);
        font-size: px2rem(12);
        color: #848689;
        span:nth-child(3){
            margin-right: px2rem(7);
        }
    }
}

.pro_details{
    margin-top: px2rem(10);
    background-color: #fff;
    padding: px2rem(14);
    padding-top: 0;
    padding-bottom: px2rem(60);
    .tit{
        color: #848689;
        font-size: px2rem(16);
        padding: px2rem(10) 0;
    }
    .content{
        *{
            font-size: px2rem(14) !important;
            color: #2B333B;
            line-height: normal !important;
        }
        p,div{
            color: #444;
            display: block !important;
        }
        img{
            max-width: 100% !important;
            height: auto;
            display: block;
        }
    }
}

.invalid{
    height: px2rem(50);
    line-height: px2rem(50);
    text-align: center;
    background: #848689;
    font-size: px2rem(16);
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.fixed_btn_group{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: px2rem(50);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    .go_index{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eee;
        padding-top: px2rem(4);
        button{
            border: 0;
            background-color: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .icon-home{
                display: block;
                @include sprite3($icon-home);
            }
            span{
                display: block;
                font-size: px2rem(12);
                text-align: center;
                color: #848689;
            }
        }
    }
    .cart{
        width: 20%;
        height: 100%;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: px2rem(4);
        button{
            background-color: inherit;
            position: relative;
            border: 0;
            .icon-cart{
                display: block;
                margin: 0 auto;
                @include sprite3($icon-cart);
            }
            .txt{
                display: block;
                font-size: px2rem(12);
                text-align: center;
                color: #848689;
            }
            .badge{
                position: absolute;
                top: px2rem(-4);
                right: px2rem(-4);
                min-width: px2rem(18);
                height: px2rem(18);
                border-radius: px2rem(18);
                background-color: #F43530;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: px2rem(12);
                padding: 0 px2rem(3);
                border:1px solid #fff;
            }
        }
    }
    .add_cart{
        width: 33%;
        height: 100%;
        background: #FD9E24;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            background-color: inherit;
        }
    }
    .buy_now{
        width: 33%;
        height: 100%;
        background: #FB4747;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add_cart,.buy_now{
        button{
            display: block;
            border: 0;
            color: #fff;
            font-size: px2rem(16);
            background-color: inherit;
        }
    }
}

.popup_buy{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .shade{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
    }
    .content{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        .close{
            position: absolute;
            top: px2rem(14);
            right: px2rem(14);
            border: 0;
            background-color: inherit;
            @include sprite3($icon-modal-close);
        }
        .con{
            height: px2rem(196);
            padding: 0 px2rem(14);
            .t{
                height: px2rem(92);
                border-bottom: 1px solid #BFBFBF;
                display: flex;
                align-items: center;
                .l{
                    width: px2rem(56);
                    height: px2rem(56);
                    margin-right: px2rem(20);
                    background-color: #eee;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .r{
                    flex-grow: 1;
                    .tit{
                        @include otw();
                        height: px2rem(28);
                        font-size: px2rem(16);
                        color: #5B5B5B;
                    }
                    .price{
                        color: #FB4747;
                        font-size: px2rem(14);
                    }
                }
            }
            .b{
                padding-top: px2rem(14);
                display: flex;
                align-items: center;
                .l{
                    flex-grow: 1;
                    color: #5B5B5B;
                    font-size: px2rem(15);
                }
                .r{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button{
                        width: px2rem(28);
                        height: px2rem(28);
                        background-color: inherit;
                        border-color: #777;
                        border-width: 1px;
                        border-style: solid;
                        text-align: center;
                        font-weight: bold;
                        color: #2b333b;
                        font-size: px2rem(16);
                        &.minus{
                            border-radius: px2rem(3) 0 0 px2rem(3);
                        }
                        &.plus{
                            border-radius: 0 px2rem(3) px2rem(3) 0;
                            padding-bottom: px2rem(2);
                        }
                        &:disabled{
                            border-color: #BFBFBF;
                            color: #999;
                        }
                    }
                    span{
                        min-width: px2rem(28);
                        height: px2rem(28);
                        padding: 0 px2rem(7);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #BFBFBF;
                        text-align: center;
                        font-size: px2rem(16);
                        color: #2b333b;
                        border-left: 0;
                        border-right: 0;
                    }
                }
            }
        }
        .btn{
            height: px2rem(50);
            button{
                height: 100%;
                width: 100%;
                border: 0;
                color: #fff;
                font-size: px2rem(16);
                background-color: #FB4747;
            }
        }
    }
}
