@import "./helper/_sprite.scss";
@import "./helper/_mixin.scss";
@import "./helper/px2rem.scss";
.tabbar{
    position: fixed;
    border-top: 1px solid #ACACAC;
    bottom: 0;
    left: 0;
    width: 100%;
    height: px2rem(50);
    background-color: #F9F9F9;
    display: flex;
    z-index: 1000;
    min-width: px2rem(320);
    li:first-child{
        width: 12%;
    }
    li{
        width: 22%;
        padding-top: px2rem(2);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            border: 0;
            box-sizing: content-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: inherit;
            position: relative;
            color: #848689;
            .badge{
                position: absolute;
                top: px2rem(-4);
                right: px2rem(-4);
                min-width: px2rem(18);
                height: px2rem(18);
                border-radius: px2rem(18);
                background-color: #F43530;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: px2rem(12);
                padding: 0 px2rem(3);
                border:1px solid #fff;
            }
            .icon{
                display: block;
                margin: 0 auto;
                font-size: 1rem;
            }
            .txt{
                display: block;
                width: 100%;
                font-size: px2rem(10);
                margin-top: px2rem(3);
            }
            &.active{
                color: #FB4747;
            }
        }
    }
}
