@import "./helper/_sprite.scss";
@import "./helper/_mixin.scss";
@import "./helper/px2rem.scss";
.tapbar{
    position: fixed;
    border-top: 1px solid #ACACAC;
    bottom: 0;
    left: 0;
    width: 100%;
    height: px2rem(50);
    background-color: #F9F9F9;
    display: flex;
    z-index: 1000;
    min-width: px2rem(375);
    li:first-child{
        width: 12%;
    }
    li{
        width: 22%;
        padding-top: px2rem(2);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: inherit;
            position: relative;
            .badge{
                position: absolute;
                top: px2rem(-4);
                right: px2rem(-4);
                min-width: px2rem(18);
                height: px2rem(18);
                border-radius: px2rem(18);
                background-color: #F43530;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: px2rem(12);
                padding: 0 px2rem(3);
                border:1px solid #fff;
            }
            i{
                display: block;
                margin: 0 auto;
            }
            .back{
                @include sprite3($icon-back);
            }
            .home{
                @include sprite3($icon-home);
            }
            .category{
                @include sprite3($icon-category);
            }
            .cart{
                @include sprite3($icon-cart);
            }
            .my{
                @include sprite3($icon-my);
            }
            .txt{
                display: block;
                width: 100%;
                font-size: px2rem(10);
                color: #848689;
                margin-top: px2rem(2);
            }
            &.active{
                .home{
                    @include sprite3($icon-home-active);
                }
                .category{
                    @include sprite3($icon-category-active);
                }
                .cart{
                    @include sprite3($icon-cart-active);
                }
                .my{
                    @include sprite3($icon-my-active);
                }
                .txt{
                    color: #FB4747;
                }
            }
        }
    }
}
