@import "./helper/_sprite.scss";
@import "./helper/_mixin.scss";

.tapbar{
    position: fixed;
    // border-top: 1px solid #ACACAC;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.57rem;
    background-color: #F9F9F9 !important;
    opacity: 1 !important;
    display: flex;
    z-index: 1000;
    min-width: 320px;
    &:after{
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        background-color: #ACACAC;
        width: 100%;
        transform: scale(1,0.5);
    }
    li:first-child{
        width: 12%;
    }
    li{
        width: 22%;
        padding-top: 0.15rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: inherit;
            position: relative;
            .badge{
                position: absolute;
                top: -0.4rem;
                right: -0.5rem;
                min-width: 1.26rem;
                height: 1.26rem;
                border-radius: 1.26rem;
                background-color: #F43530;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.86rem;
                border:1px solid #fff;
            }
            i{
                display: block;
                margin: 0 auto;
            }
            .back{
                @include sprite4($icon-back);
            }
            .home{
                @include sprite4($icon-home);
            }
            .category{
                @include sprite4($icon-category);
            }
            .cart{
                @include sprite4($icon-cart);
            }
            .my{
                @include sprite4($icon-my);
            }
            .txt{
                display: block;
                width: 100%;
                font-size: 0.71rem;
                color: #848689;
                margin-top: 0.1rem;
            }
            &.active{
                .home{
                    @include sprite4($icon-home-active);
                }
                .category{
                    @include sprite4($icon-category-active);
                }
                .cart{
                    @include sprite4($icon-cart-active);
                }
                .my{
                    @include sprite4($icon-my-active);
                }
                .txt{
                    color: #FB4747;
                }
            }
        }
    }
}
