@import "./helper/_sprite.scss";
@import "./helper/_mixin.scss";

.tapbar{
    position: fixed;
    border-top: 1px solid #ACACAC;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.57rem;
    background: #F9F9F9;
    display: flex;
    li:first-child{
        width: 12%;
    }
    li{
        width: 22%;
        padding-top: 0.15rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            border: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: inherit;
            i{
                display: block;
                margin: 0 auto;
            }
            .back{
                @include sprite3($icon-back);
            }
            .home{
                @include sprite3($icon-home);
            }
            .category{
                @include sprite3($icon-category);
            }
            .cart{
                @include sprite3($icon-cart);
            }
            .my{
                @include sprite3($icon-my);
            }
            .txt{
                display: block;
                width: 100%;
                font-size: 0.71rem;
                color: #848689;
            }
            &.active{
                .home{
                    @include sprite3($icon-home-active);
                }
                .category{
                    @include sprite3($icon-category-active);
                }
                .cart{
                    @include sprite3($icon-cart-active);
                }
                .my{
                    @include sprite3($icon-my-active);
                }
                .txt{
                    color: #FB4747;
                }
            }
        }
    }
}
